{
  "extends": "airbnb",
  "rules": {
      "no-await-in-loop": "off",
      "no-console": "off",
      "import/no-dynamic-require": "off",
      "no-param-reassign": "off",
      "quote-props": "off",
      "arrow-body-style": "off",
      "max-len":"off",
      "no-path-concat": "off",
      "prefer-template":"off",
      "object-curly-newline": "off",
      "dot-notation": "off",
      "linebreak-style": "off"
   }
}